$white: #f7f7f7;
$off-white: #f8f9fb;
$header-text: Quicksand, Arial;

* { 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

body {
	background-color: $off-white;
}

.container {
	height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    
    display: flex;
    align-items: center;

	@media (max-width: 885px) {
    	align-items: flex-end;
    }
    // @media (max-width: 768px) {
    // 	align-items: flex-end;
    // }
    @media screen and (max-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    	align-items: center;
    }
    @media (max-width: 550px) {
    	align-items: center;
    }

    #land-bg {
		height: 100%;
	    width: 100%;
	    top: 0;
	    left: 0;
	    background-image: url(../img/land-bg-hori.png);
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: center; 
	    background-size: cover;
	    position: absolute;
	    z-index: -1;

	    @media (max-width: 1024px) {
	    	background-position-x: right;
	    }
	    // @media (max-width: 864px) {
	    // 	background-position-x: -330px;
	    // }
	    // @media (max-width: 768px) {
	    // 	background-position: right;
	    // }
	    @media screen and (max-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
	    	display: none;
	    	height: 0;
	    	width: 0;
	    }
	    @media (max-width: 550px) {
	    	display: none;
	    	height: 0;
	    	width: 0;
	    }
	}

	.text-contain {
		color: $white;
		font-family: $header-text;
		margin-left: 20%;

		@media (max-width: 1024px) {
	    	margin-left: 5%;
	    }
	    @media (max-width: 885px) {
	    	margin: 0 auto;
	    	margin-bottom: 4em;
	    }
	    // @media (max-width: 768px) {
	    // 	margin: 0 auto;
	    // 	margin-bottom: 4em;
	    // }
	    @media screen and (max-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
	    	color: black;
	    }
	    @media (max-width: 550px) {
	    	color: black;
	    }

	    #profile {
	    	display: none;

	    	@media screen and (max-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
	    		display: block;
		    	border-radius: 100%;
		    	height: 125px;
		    	width: 125px;
		    	margin: 0 auto;
	    	}
	    	@media (max-width: 550px) {
		    	display: block;
		    	border-radius: 100%;
		    	height: 125px;
		    	width: 125px;
		    	margin: 0 auto;
		    }
	    }

		h1 {
			font-size: 70px;
			margin: 0;

			@media (min-width: 2000px) {
				font-size: 105px;
			}
			@media (max-width: 420px) {
		    	font-size: 60px;
		    }
		}
		h2 {
			font-size: 32px;
			margin: 0;

			@media (min-width: 2000px) {
				font-size: 47px;
			}
			@media (max-width: 420px) {
		    	font-size: 28px;
		    }
		}

		.icons-contain {
			margin-top: 1em;

			i {
				font-size: 35px;
				color: $white;

				@media screen and (max-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
					color: black;
				}
				@media (max-width: 550px) {
			    	color: black;
			    }
			    @media (max-width: 420px) {
			    	font-size: 26px;
			    }
			    @media (min-width: 2000px) {
					font-size: 70px;
				}
			}
			@media (min-width: 550px) {
				i:hover {
					-webkit-transition: color 0.5s;
					-moz-transition: color 0.5s;
					-o-transition: color 0.5s;
					-ms-transition: color 0.5s;
				    transition: color 0.5s;
					color: #8db3fb;
				}
			}
			a:nth-child(1) {
				margin-left: 0;
			}
			a:nth-last-child(1) {
				margin-right: 0;
			}
			a {
				margin: 1em 1em;
				color: $white;
				@media screen and (max-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
					color: black;
				}
				@media (max-width: 550px) {
			    	color: black;
			    }
			}
			a:visited {
				color: $white;
				@media screen and (max-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
					color: black;
				}
				@media (max-width: 550px) {
			    	color: black;
			    }
			}
		}
	}
}