.time {
    margin-top: 17%;
    height: 100%;
    width: 100%;
    font-family: "Open Sans", helvetica;
    text-align: center;
    color: #FFFFFF;
}

p {
    display: inline;
}

#txt {
    font-size: 6em;
}

#smaller {
    font-size: 3em;
}

#small {
    font-size: 4.5em;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: -999;
}

.stretch {
    width: 100%;
    height: 100%;
}