.nav-pills {
	float: right;
	font-family: "Open Sans", Helvetica, sans-serif;
	color: #f9f9f9;
}

.nav-pills a {
	color: #f9f9f9;
}

.active {
	background-color: none;
	color: #009688;
}

.active a {
	color: #009688;	
}

.home {
	height: 100%;
	width: 100%;
	background: url("img/cover.svg") center cover no-repeat;
}