* { 
        -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
}

.time {
    margin-top: 50%;
    margin-bottom: 50%;
    height: 100%;
    width: 100%;
    font-family: "Open Sans", helvetica;
    text-align: center;
    color: #FFFFFF;
}

p {
    display: inline;
}

#txt {
    font-size: 12em;
}

#smaller {
    font-size: 6em;
}

#small {
    font-size: 9em;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: -999;
}

.stretch {
    width: 100%;
    height: 100%;
}

.yucode {
    /*text-align: right;*/
    font-family: "Open Sans", helvetica;
    /*color: #FFFFFF;
    top: 0%;
    width: 100%;
    left: 0;
    padding-right: 0.5%;*/
    text-decoration: underline;
    /*font-size: 1em;
    position: absolute; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;*/     
    font-size: 1em;
    color: #000000;   
}

a {
    font-size: 1.8em;
    text-decoration: none;
    color: #000000;
}

.button {
    height: 100px;
    width: 100px;
    top: 0%;
    left: 0%;
    /*background: #FFFFFF;*/
}

.top {
    height: 20%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    top: 10%;
    left: 0%;
    background-color: #FFFFFF;
    position: relative;
}

.mid {
    height: 20%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    top: 20%;
    left: 0%;
    background-color: #FFFFFF;
    position: relative;
}

.bot {
    height: 20%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    top: 30%;
    left: 0%;
    background-color: #FFFFFF;
    position: relative;
}

.list {
    text-align: center;
    background-color: #FFFFFF;
    height: auto;
    width: 28%;
    top: 1%;
    left: 1%;
    position: absolute;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    overflow: hidden;
}

h1 {
    font-family: "Open Sans", helvetica;
    font-size: 2em;
    text-align: center;
}

p {
    font-family: "Open Sans", helvetica;
    list-style: none;
    font-size: 2.6em;
    text-align: left;
}

.mountains {
    cursor: pointer;
}

.beach {
    cursor: pointer;
}

.sky {
    cursor: pointer;
}

.city {
    cursor: pointer;
}

.arctic {
    cursor: pointer;
}

.forest {
    cursor: pointer;
}

.desert {
    cursor: pointer;
}

.earth {
    cursor: pointer;
}

.custom {
    cursor: pointer;
}

.editcustom {
    cursor: pointer;
}

.i {
    height: 38px;
    width: 38px;
    cursor: pointer;
    position: relative;
    /*margin-left: 45%;
    margin-right: 55%;*/
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8em;
    font-family: "Open Sans", helvetica;
}

.description {
    font-size: 1.8em;
    font-family: "Open Sans", helvetica;
    text-align: left;
    background-color: #FFFFFF;
    height: auto;
    width: 60%;
    top: 1%;
    left: 29%;
    position: absolute;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin-bottom: 2%;
}

.close {
    height: 38px;
    width: 38px;
    cursor: pointer;
    position: absolute;
    top: 3%;
    left: 2%;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 100%;
    text-align: center; 
}

.custommenu {
    font-size: 1.4em;
    font-family: "Open Sans", helvetica;
    text-align: center;
    background-color: #FFFFFF;
    height: auto;
    width: 60%;
    top: 1%;
    left: 29%;
    position: absolute;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin-bottom: 2%;
}

.customtxt {
    font-size: 1.2em;
    font-family: "Open Sans", helvetica;
}

.savebutton {
    cursor: pointer;
    font-family: "Open Sans", helvetica;
    width: auto;
}

.textbox {
    /*font-size: 1em;*/
    width: 60%;
}