.time {
    margin-top: 12.7%;
    height: 100%;
    width: 100%;
    font-family: "Open Sans", helvetica;
    text-align: center;
    color: #FFFFFF;
}

p {
    display: inline;
}

#txt {
    font-size: 6em;
}

#smaller {
    font-size: 3em;
}

#small {
    font-size: 4.5em;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: -999;
}

.stretch {
    width: 100%;
    height: 100%;
}

.yucode {
    text-align: right;
    font-family: "Open Sans", helvetica;
    color: #FFFFFF;
    top: 0%;
    width: 100%;
    left: 0;
    padding-right: 0.5%;
    text-decoration: underline;
    font-size: 1em;
    position: absolute; 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.button {
    height: 50px;
    width: 50px;
    top: 0%;
    left: 0%;
    /*background: #FFFFFF;*/
}

.top {
    height: 20%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    top: 10%;
    left: 0%;
    background-color: #FFFFFF;
    position: relative;
}

.mid {
    height: 20%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    top: 20%;
    left: 0%;
    background-color: #FFFFFF;
    position: relative;
}

.bot {
    height: 20%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    top: 30%;
    left: 0%;
    background-color: #FFFFFF;
    position: relative;
}

.list {
    background-color: #FFFFFF;
    height: 170px;
    width: 200px;
    top: 1%;
    left: 1%;
    position: absolute;
    padding-left: 2%;
    padding-right: 2%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

h1 {
    font-family: "Open Sans", helvetica;
    font-size: 1em;
    text-align: center;
}

p {
    font-family: "Open Sans", helvetica;
    list-style: none;
    font-size: 1.3em;
    text-align: left;
}

.mountains {
    cursor: pointer;
}

.beach {
    cursor: pointer;
}

.sky {
    cursor: pointer;
}